<main class="conatainer" [ngSwitch]="view">

    <section *ngSwitchCase=" 'article' ">
        <app-header [targetView]="viewHeader"></app-header>
        <div class="head">
            <button mat-raised-button color="primary" type="submit" (click)="addArticle()">create an article</button>
            <div class="right">
                <div>sort</div>
                <img src="../../../assets/down-arrow.png" alt="logo" class="profile-icon" />
            </div>
        </div>
        <div class="carte-container" *ngFor="let item of viewArticleList">
            <div *ngIf="item; then thenBlock ;  else elseBlock"></div>
            <ng-template #thenBlock >
                <div class="carte" (click)="viewSelectedArticle(item)">
                    <div>{{item.title}}</div>
                    <div class="section">
                        <p>Creation date : {{item.created_at}}</p>
                        <p>Author : {{item.author}}</p>
                    </div>
                    <div class="themeContentList">{{item.content}}</div>
                </div>
            </ng-template>
            <ng-template #elseBlock>
                <div class="loader">
                    <mat-spinner></mat-spinner>
                </div>
            </ng-template>
        </div>
    </section>
    <section *ngSwitchCase=" 'theme' ">
        <app-header [targetView]="viewHeader"></app-header>
        <div class="carte-container" *ngFor="let item of viewThemeList">
            <div *ngIf="item; then thenBlock ;  else elseBlock"></div>
            <ng-template #thenBlock >
                <div class="carte" (click)="subscribe(item.id)">
                    <div>{{item.title}}</div>
                    <div class="section"></div>
                    <div>{{item.content}}</div>
    
                    <div class="button">
                        <button mat-raised-button color="primary" type="submit">subscribe</button>
                    </div>
                </div>
            </ng-template>
            <ng-template #elseBlock>
                <div class="loader">
                    <mat-spinner></mat-spinner>
                </div>
            </ng-template>
        </div>
    </section>

    <section *ngSwitchCase=" 'selectedArticle' ">
        <app-header [targetView]="viewHeader"></app-header>
        <div *ngIf="viewArticle; then thenBlock ;  else elseBlock"></div>
        <ng-template #thenBlock > 
            <div class="container">
                <div class="title">{{viewArticle.title }}</div>
            <div class="head-article">
                <div>
                    <p>created at : {{viewArticle.created_at}}</p>
                    <p>update at : {{viewArticle.updated_at}}</p>
                </div>

                <div>
                    <p>author name : {{viewArticle.author}}</p>
                </div>

                <div *ngFor="let item of viewArticle.articleThemes">
                    <p>{{item.title}}</p>
                </div>

            </div>
            <div class="contenet">{{viewArticle.content}}</div>
            </div>
        </ng-template>
        <ng-template #elseBlock>
            <div class="loader">
                <mat-spinner></mat-spinner>
            </div>
        </ng-template>
        
    </section>

    <section *ngSwitchCase=" 'addArticle' ">
        <app-header [targetView]="viewHeader"></app-header>
        <app-form [targetView]="'article'" (redirectByString)="view = $event"></app-form>
    </section>
</main>