
.head{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px 4px ;
    .right{
        margin-left: auto;
        display: flex;
        align-items: center;
        font-weight: bolder;
        img{
            width: 20px;
            height: 40px;
        }
    }
}
.carte-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .carte{
        background-color: rgba(128, 128, 128, 0.099);
        margin: 10px;
        width: 400px;
        padding: 10px;
        border-radius: 5px;

        .section{
            display: flex;
            padding: 5px;
            p{
                width: 50%;
            }
        }
        
        div:first-child{
            font-weight: bolder;
        } 

        .button{
            display: flex;
            justify-content: center;
            margin: 10px;
        }
    }
}

///! selectedArticle
/// 
.container{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
    div{
        padding: 10px;
    }
    .title{
        font-weight: bolder;
        font-size: large;
        padding-top: 20px;
    } 
    .head-article{
        display: flex;
        gap: 20%;
    }
    
}