<main class="conatainer" [ngSwitch]="view">

    <section *ngSwitchCase=" 'article' ">
        <app-header [targetView]="viewHeader"></app-header>
        <div class="head">
            <button mat-raised-button color="primary" type="submit" (click)="addArticle()">create an article</button>
            <div class="right"  (click)="sort()">
                <div>sort</div>
                <img src="../../../assets/down-arrow.png" alt="logo" class="profile-icon"/>
            </div>
        </div>
        <div class="carte-container">
            <div  *ngFor="let item of viewArticleList">
                <div *ngIf="item; then thenBlock ;  else elseBlock"></div>
                <ng-template #thenBlock >
                    <div class="carte" (click)="viewSelectedArticle(item)">
                        <div>{{item.title}}</div>
                        <div class="section">
                            <p>Creation date : {{item.created_at}}</p>
                            <p>Author : {{item.author}}</p>
                        </div>
                        <div class="themeContentList">{{item.content}}</div>
                    </div>
                </ng-template>
                <ng-template #elseBlock>
                    <div class="loader">
                        <mat-spinner></mat-spinner>
                    </div>
                </ng-template>
            </div>
        </div>
    </section>
    <section *ngSwitchCase=" 'theme' ">
        <app-header [targetView]="viewHeader"></app-header>
       <div class="carte-container">
        <div  *ngFor="let item of viewThemeList">
            <div *ngIf="item; then thenBlock ;  else elseBlock"></div>
            <ng-template #thenBlock >
                <div class="carte" >
                    <div>{{item.title}}</div>
                    <div class="section"></div>
                    <div>{{item.content}}</div>
                    <div class="button">
                        <button mat-stroked-button mat-raised-button color="primary" (click)="subscribe(item.id)">subscribe</button>
                    </div>
                </div>
            </ng-template>
            <ng-template #elseBlock>
                <div class="loader">
                    <mat-spinner></mat-spinner>
                </div>
            </ng-template>
        </div>
       </div>
    </section>

    <section *ngSwitchCase=" 'selectedArticle' " >
        <app-header [targetView]="viewHeader"></app-header>
        <div *ngIf="viewArticle; then thenBlock ;  else elseBlock"></div>
        <ng-template #thenBlock > 
            <div class="container">
                <div class="title">{{viewArticle.title }}</div>
            <div class="head-article">
                <div>
                    <p>DATE</p>
                    <p>created at : {{viewArticle.created_at}}</p>
                    <p>update at : {{viewArticle.updated_at}}</p>
                </div>

                <div>
                    <p>Author Name</p>
                    <p>{{viewArticle.author}}</p>
                </div>

                <div >
                    <p>Theme</p>
                    <p *ngFor="let item of viewArticle.articleThemes">{{item.title}}</p>
                </div>

            </div>
            <div class="contenet">{{viewArticle.content}}</div>
            </div>
        </ng-template>
        <ng-template #elseBlock>
            <div class="loader">
                <mat-spinner></mat-spinner>
            </div>
        </ng-template>

        <div class="comment">
            <div class="title">Commentaries</div>
            <!-- this play lists of comment -->
            <div class="commentList" *ngFor="let item of viewArticle?.comment">
                <div> <p>{{item.name}}</p> </div>
                <div> <p>{{item.content}}</p> </div>
            </div>
            <!-- send a message -->
            <div >
                <form class="container-comment" [formGroup]="formData" (ngSubmit) = "submitForm(formData.value)">
                    <input matInput placeholder="please type text" formControlName="content">
                    <img width="100" src="../../../assets/send-btn.png" alt="logo" class="back-icon" (click)="submitForm(formData.value)"/>
                    <!-- button mat-raised-button color="primary" type="submit" >Submit</button> -->
                </form>
            </div>
        </div>
        
    </section>

    <section *ngSwitchCase=" 'addArticle' ">
        <app-header [targetView]="viewHeader"></app-header>
        <app-form [targetView]="'article'" (redirectByString)="view = $event"></app-form>
    </section>
</main>