.container {
    display: flex;
    //border: solid red 1px;
    padding-top: 50px;
    .title{
        text-align: center;
        font-weight: 500;
        font-size: 30px;
        margin-bottom: 40px;
    }
}


.item {
    margin: auto;
    .input {
        display: flex;
        flex-direction: column;
        margin-bottom: 30px;
        ::placeholder {
            padding-left: 5px;
          }
    
        input {
            height: 40px;
            border-radius: 5px;
            min-width: 400px;
            
        }

        textarea {
            border-radius: 5px;
            min-width: 400px;
            border : solid 2px
        }

        .error-input{
            border: solid red 2px;
        }
       
    }
    
}


.button-container {



    .button-submit {
        display: flex;
        justify-content: center;
        margin-top: 50px;
        button {
            width: 200px;
        }
    }

    .button-logout {
        display: flex;
        justify-content: center;
        margin-top: 10px;
        font-weight: 500;
        color: red;
        cursor: pointer;
    }
}



.mat-select{
    padding-top: 10px;
    padding-bottom: 10px;
    border: 2px solid;
    border-radius: 5px;
    min-width: 400px;
}
.mat-select-placeholder, .mat-select-min-line{
    padding-top: 10px !important;
}


.respondError{
    display: flex;
    justify-content: center;
    p{
        margin-top: 10px;
        color : red;
        font-weight: 500;
    }
}

