<form class="container" [formGroup]="formData" (ngSubmit)="submitForm(formData.value)" #form="ngForm">
    <div class="item">
        <div class="title">{{dynamicData.title}}</div>
        <div class="input" *ngFor="let data of dynamicData.fields">
            <div>
                <p>{{data.label}}</p>
                <div *ngIf="data.name === 'articleThemes'; then thenBlock ;  else elseBlock"></div>
                <ng-template #thenBlock>
                    <mat-select formControlName={{data.name}} placeholder={{data.placeholder}} multiple>
                        <mat-option *ngFor="let theme of themeList" [value]="theme.id">{{theme.title}}</mat-option>
                    </mat-select>
                </ng-template>
                <ng-template #elseBlock>
                    <div *ngIf="data.name === 'content'; then thenBlock ;  else elseBlock"></div>

                    <ng-template #thenBlock>
                        <textarea rows="10" matInput placeholder={{data.placeholder}} formControlName={{data.name}}
                            [class.error-input]="!formData.controls[data.name].untouched && formData.controls[data.name].errors?.['required']"></textarea>
                        <div>
                            <mat-error
                                *ngIf="!formData.controls[data.name].untouched && formData.controls[data.name].errors?.['required']">
                                {{data.error}}
                            </mat-error>
                            <mat-error *ngIf=" formData.controls[data.name].errors?.['pattern']">
                                {{data.errorEmail}}
                            </mat-error>
                        </div>
                    </ng-template>

                    <ng-template #elseBlock>
                        <input matInput placeholder={{data.placeholder}} formControlName={{data.name}}
                            [class.error-input]="!formData.controls[data.name].untouched && formData.controls[data.name].errors?.['required']">
                        <div>
                            <mat-error
                                *ngIf="!formData.controls[data.name].untouched && formData.controls[data.name].errors?.['required']">
                                {{data.error}}
                            </mat-error>
                            <mat-error *ngIf=" formData.controls[data.name].errors?.['pattern']">
                                {{data.errorEmail}}
                            </mat-error>
                        </div>
                    </ng-template>

                </ng-template>
            </div>
        </div>
        <div class="button-container">
            <div class="button-submit">
                <button mat-raised-button color="primary" type="submit">Submit</button>
            </div>
            <div *ngIf="dynamicData.title === 'User profile'" class="button-logout">
                <p (click)="dynamicData.title === 'User profile' && logOut()">Log out </p>
            </div>
            
            
        </div>
        <div class="respondError">
            <p *ngIf="respondError">{{respondError}}</p>
        </div>
    </div>
</form>