<div class="header">
    <div>
        <img src="../../../assets/logo_p6.png" alt="logo" id="logo" />
    </div>

    <div class="right">
        <div>article</div>
        <div>theme</div>
        <div>
            <img src="../../../assets/menu.png" alt="logo" class="menu-icon" />
        </div>
        <div>
            <img src="../../../assets/profile-active.png" alt="logo" class="profile-icon" />
        </div>
        <div>
            <img src="../../../assets/profile-not-active.png" alt="logo" class="profile-icon" />
        </div>

    </div>
</div>

