<main [ngSwitch]="view">
    <div *ngSwitchCase=" 'other' ">
        <div class="header" >
            <div><img src="../../../assets/logo_p6.png" alt="logo" id="logo" /></div>
            <div class="right">
                <div class="pointer" (click)="navToArticle()">Article</div>
                <div class="pointer" (click)="navToTheme()">Theme</div>
                <div class="pointer"><img src="../../../assets/menu.png" alt="logo" class="menu-icon" /></div>
                <div class="pointer" (click)="navToProfile()"><img src="../../../assets/profile-active.png" alt="logo" class="profile-icon" /></div>
            </div>
        </div>
        <div>
            <img src="../../../assets/back-arrow.png" alt="logo" class="back-icon" (click)="goBack()"/>
        </div>
    </div>
    <div *ngSwitchCase=" 'no-back-button' ">
        <div class="header" >
            <div><img src="../../../assets/logo_p6.png" alt="logo" id="logo" /></div>
            <div class="right">
                <div class="pointer" (click)="navToArticle()">Article</div>
                <div class="pointer" (click)="navToTheme()">Theme</div>
                <div class="pointer" ><img src="../../../assets/menu.png" alt="logo" class="menu-icon" /></div>
                <div class="pointer" (click)="navToProfile()"><img src="../../../assets/profile-active.png" alt="logo" class="profile-icon" /></div>
            </div>
        </div>
    </div>
    <div *ngSwitchCase=" 'profile' ">
        <div class="header" >
            <div><img src="../../../assets/logo_p6.png" alt="logo" id="logo" /></div>
            <div class="right">
                <div class="pointer" (click)="navToArticle()">Article</div>
                <div class="pointer" (click)="navToTheme()">Theme</div>
                <div class="pointer"><img src="../../../assets/menu.png" alt="logo" class="menu-icon" /></div>
                <div class="pointer"><img src="../../../assets/profile-not-active.png" alt="logo" class="profile-icon" /></div>
            </div>
        </div>
        <div>
            <img src="../../../assets/back-arrow.png" alt="logo" class="back-icon" (click)="goBack()"/>
        </div>
    </div>

    
    <div *ngSwitchDefault>
        <div class="header" >
            <div><img src="../../../assets/logo_p6.png" alt="logo" id="logo" /></div>
            <div class="right">
                <div><img src="../../../assets/menu.png" alt="logo" class="menu-icon" /></div>
            </div>
        </div>
        <div>
            <img src="../../../assets/back-arrow.png" alt="logo" class="back-icon" (click)="goBack()"/>
        </div>
    </div>
</main>