<app-header [targetView]=" 'profile' "></app-header>
<ng-container *ngTemplateOutlet="user ? thenBlock : elseBlock"></ng-container>
    <ng-template #thenBlock >
        <app-form  [targetView]=" 'profile' " [userInfo] = " user "></app-form>
    </ng-template>
    <ng-template #elseBlock>
        <div class="loader">
            <mat-spinner></mat-spinner>
        </div>
    </ng-template>

<div class="wrapper">
    <div class="title">Subscribe</div>
    <div class="carte-container" *ngFor="let item of user?.subscribedThemes">
        <div class="carte" (click)="unSubscribe(item.id)">
            <div>{{item.title}}</div>
            <div class="section"></div>
            <div>{{item.content}}</div>
            <div class="button">
                <button mat-raised-button color="primary" type="submit">Unsubscribe</button>
            </div>
        </div>
    </div>
</div>
