<app-header [targetView]=" 'profile' "></app-header>
<app-form  [targetView]=" 'profile' "></app-form>
<div class="wrapper">
    <div class="title">Subscribe</div>
    <div class="carte-container">
        <div class="carte">
            <div>Titre de l’article</div>
            <div class="section"></div>
            <div>Content: lorem ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                of
                type and scrambled...</div>
    
            <div class="button">
                <button mat-raised-button color="primary" type="submit">subscribe</button>
            </div>
        </div>
    
    </div>
</div>
